:root {
    --members-hiding: 80%; /*Position of the members panel when it hides | Default 80%*/
    --members-showing: 0%; /*Position of the members panel when it shows | Default 0%*/
    --transition-speed: 0.35s; /*Changes the transition speed*/
}

.chatContent-a9vAAp { /*Chat pannel and message box*/
    position: absolute;
    width: 97%!important;
    height: 100%;
}
/*Hides server members list*/
.membersWrap-2h-GB4 {
    position: absolute;
    top: 0;
    right: 0%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    -webkit-transform: translateX(var(--members-hiding));
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    transform: translateX(var(--members-hiding));
    justify-content: unset;
    transition: transform var(--transition-speed) ease-in;
    will-change: transform;
}
.membersGroup-v9BXpm { /*Hides the member's role*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    color: transparent;
    transition: color var(--transition-speed) ease-in;
    will-change: color;
}
.member-3-YXUe { /*Moves server members a bit to the left and separates them for aesthetic purposes*/
    margin-left: 2px;
    margin-bottom: 3px;
}

/*Shows the server members list*/
.membersWrap-2h-GB4:hover { /*Shows server's members*/
    transform: translateX(var(--members-showing));
}
.membersWrap-2h-GB4:hover .membersGroup-v9BXpm{ /*Shows members roles when hovering*/
    color: white;
}