/**
* @name         Avatar Styles
* @description  Changes the avatar's radius and shows user status as a bar underneath.
* @donate       https://bit.ly/3fnzq1Z
* @source       https://github.com/rmkx/rmkx.github.io/blob/main/src/avatarStyle.css
* @author       rmkx
* @invite       HnGWVQbQBv
* @version      1.0 
*/


:root {
    --avatar-radius: 0%;
}
#app-mount .wrapper-3t9DeA svg:not(:root) { /*Makes the status bar show*/
    overflow: visible;
}

/*Avatars*/
.userInfo-2zN2z8 .avatar-3W3CeO svg foreignObject { /*Modifies avatar on friends list*/
    mask: none;
    border-radius: var(--avatar-radius);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.avatar-3uk_u9 svg:not(.linkButtonIcon-Mlm5d6) foreignObject { /*Modifies avatar on server members*/
    mask: none;
    border-radius: var(--avatar-radius);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.userPopout-3XzG_A { /*User popout width*/
    width: 250px!important;
}
.headerTop-2y3V6H { /*User card info*/
    margin-top: 225px;
}
.profileBadges-1dm1_q { /*User card badges*/
    top: 40px;
}
.avatarPositionNormal-1CZUPk { /*User card avatar position*/
    top: 60px;
    left: 0;
    border-radius: 0;
}
.avatar-22FtUu svg foreignObject { /*User card avatar mask*/
    mask: none;
}
.avatar-22FtUu { /*Avatar dimensions*/
    width: 250px!important;
    height: 250px!important;
    border: none;
}
.avatarHint-1E3LMl { /*View profile hint*/
    top: 0;
    left: 0;
    width: 250px!important;
    height: 250px!important;
}
.avatarHint-1E3LMl foreignObject { /*View profile hint mask*/
    mask: none;
}
.avatar-1BDn8e.clickable-1bVtEA { /*Chat avatar*/
    border-radius: var(--avatar-radius);
}
.container-3baos1 .avatar-SmRMf2 svg foreignObject { /*Status bar avatar*/
    mask: none;
    border-radius: var(--avatar-radius);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.repliedMessage-VokQwo .replyAvatar-1K9Wmr { /*Reply avatar*/
    border-radius: var(--avatar-radius);
}
.wrapper-25eVIn svg foreignObject { /*Server icons*/
    mask: none;
    border-radius: var(--avatar-radius);
}
.headerAvatar-2MDZJn svg foreignObject{ /*Active now icons*/
    mask: none;
    border-radius: var(--avatar-radius);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.avatar-3EQepX svg foreignObject { /*Profile avatar*/
    mask: none;
    border-radius: var(--avatar-radius);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/*User status*/
.userInfo-2zN2z8 .avatar-3W3CeO svg > :last-child:not(foreignObject) { /*Modifies the user status on friends list*/
    mask: none;
    x: 32;
    y: -32;
    transform: rotate(90deg);
    width: 4px;
    height: inherit;
}
.userInfo-2zN2z8 .avatar-3W3CeO svg > :last-child:not(foreignObject):not([mask*="url(#svg"]) { /*Status changed on friends list*/
    mask: none;
    width: 126%;
    height: 4px;
    y: 15!important;
    x: -14!important;
}
.userInfo-2zN2z8 .avatar-3W3CeO svg > svg:not(foreignObject) { /*Status changed on friends list*/
    x: 0!important;
    y: 15!important;
    width: 40px!important;
}
.avatar-3uk_u9 svg:not(.linkButtonIcon-Mlm5d6) > :last-child:not(foreignObject) { /*Modifies userstatus on server members*/
    mask: none;
    x: 32;
    y: -32;
    transform: rotate(90deg);
    width: 4px;
    height: inherit;
}
.avatar-3uk_u9 svg:not(.linkButtonIcon-Mlm5d6) > :last-child:not(foreignObject):not([mask*="url(#svg"]) { /*Status changed on server members/DMs*/
    mask: none;
    width: 126%;
    height: 4px;
    y: 15!important;
    x: -14!important;
    transform: rotate(0deg);
}
.avatar-3uk_u9 svg > svg:not(foreignObject) { /*Status changed on server members/DMs*/
    x: 0!important;
    y: 15!important;
    width: 40px!important;
}
.avatarWrapper-1-5NA0 .wrapper-3t9DeA svg > :last-child:not(foreignObject) { /*User card status*/
    mask: none;
    y: -80;
    x: 79.75;
    transform: rotate(90deg);
    width: 3px;
    height: 100%;
}
.avatarWrapper-1-5NA0 .wrapper-3t9DeA svg > :last-child:not(foreignObject):not([mask*="url(#svg"]) { /*User card status changed settings*/
    mask: none;
    width: 200%;
    height: 4px;
    y: 28!important;
    x: -48!important;
    transform: rotate(0deg);
}
.avatarWrapper-1-5NA0 .wrapper-3t9DeA svg > svg:not(foreignObject) { /*User card status changed*/
    x: 0!important;
    y: 15!important;
    width: 100%!important;
}
.container-3baos1 .avatar-SmRMf2 svg > :last-child:not(foreignObject) { /*Status bar status*/
    mask: none;
    width: 80%;
    height: 4px;
    y: 32;
    x: 0;
}
.container-3baos1 .avatar-SmRMf2 svg > :last-child:not(foreignObject):not([mask*="url(#svg"]) { /*Status changed settings*/
    mask: none;
    width: 126%;
    height: 4px;
    y: 15!important;
    x: -14!important;
}
.container-3baos1 .avatar-SmRMf2 svg > svg:not(foreignObject) { /*Status changed settings*/
    x: 0!important;
    y: 15!important;
    width: 40px!important;
}
.headerAvatar-2MDZJn svg > :last-child:not(foreignObject) { /*Active now status*/
    mask: none;
    x: 32;
    y: -32;
    transform: rotate(90deg);
    width: 4px;
    height: inherit;
}
.headerAvatar-2MDZJn svg > :last-child:not(foreignObject):not([mask*="url(#svg"]) { /*Status changed on active now*/
    mask: none;
    width: 126%;
    height: 4px;
    y: 15!important;
    x: -14!important;
}
.headerAvatar-2MDZJn svg > svg:not(foreignObject) { /*Status changed on active now*/
    x: 0!important;
    y: 15!important;
    width: 40px!important;
}
.avatar-3EQepX svg > :last-child:not(foreignObject) { /*Profile status*/
    mask: none;
    x: 76;
    y: -80;
    transform: rotate(90deg);
    width: 4px;
    height: inherit;
}
.avatar-3EQepX svg > :last-child:not(foreignObject):not([mask*="url(#svg"]) { /*Status changed on profile*/
    mask: none;
    width: 126%;
    height: 4px;
    y: 15!important;
    x: -14!important;
}
.avatar-3EQepX svg > svg:not(foreignObject) { /*Status changed on profile*/
    x: 0!important;
    y: 15!important;
    width: 40px!important;
}