/**
 * @name         Hidden Server Channels
 * @description  Hides server channels.
 * @donate       https://bit.ly/3fnzq1Z
 * @source       https://github.com/rmkx/rmkx.github.io/blob/main/src/hideChannels.css
 * @author       rmkx
 * @version      1.0 
 */

:root {
    --server-hiding-width: 2.5%; /*Amount that will be shown when the channels panel hide | Default 2.5%*/
    --showing-width: 13.5%; /*Amount that will be shown when the panels show | Default 13.5%*/
    --transition-speed: 0.35s; /*Changes the transition speed*/
    --hidden-background: transparent; /*Background of the elements when hidden*/
    --showing-background: transparent;/*Background of the elements when showing*/
}

/*Hides the server's channel list*/

.sidebar-2K8pFh {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    width: var(--server-hiding-width);
    transition: width var(--transition-speed) ease-in;
    will-change: width;
}
.bd-minimal .sidebar-2K8pFh { /*Minimal mode channels*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    width: var(--server-hiding-width);
    transition: width var(--transition-speed) ease-in;
    will-change: width;
}
.content-1x5b-n { /*Moves chanels to the left for aesthetic purposes*/
    padding-left: 8px;
    margin-left: 5px;
}
.mainContent-2h-GEV .overflow-WK9Ogt, .icon-2yIBmh{ /*Hides the channel group*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    color: transparent;
    transition: color var(--transition-speed) ease;
    will-change: color;
}
.wrapper-2tAnRe { /*Hides the amount of people in a voice channel when hidden*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    visibility: hidden;
    transition: visibility calc(var(--transition-speed) - 0.2s) ease;
    will-change: visibility;
}
.containerDefault-3tr_sE { /*Removes padding between channels when hidden for aesthetical purposes*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    padding: 0px;
    transition: padding var(--transition-speed) ease;
    will-change: padding;
}
.container-2Pjhx-.channel-2QD9_O{ /*Moves the online friends list to the left for aesthetical purposes*/
    margin-left: 0px;
}
.layout-2DM8Md.channel-2QD9_O { /*Moves the online friends list to the left for aesthetical purposes*/
    padding-left: 0px;
}
.containerDefault--pIXnN { /*Server channel normal background*/
    background: var(--hidden-background);
    background-color: var(--hidden-background);
}
.selected-aXhQR6.container-2Pjhx- { /*Selected friend settings*/
    background: var(--hidden-background);
    background-color: var(--hidden-background);
}
.containerDefault--pIXnN .modeSelected-346R90 { /*Selected server channel background*/
    background: var(--hidden-background);
    background-color: var(--hidden-background);
}
.voiceUserSummary-2X_2vp { /*Voice Channels when collapsed*/
    background: var(--hidden-background);
    background-color: var(--hidden-background);
}
.actionIcon-PgcMM2 { /*Hides the invite to channel button when panel is hidden*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    color: transparent;
    transition: color var(--transition-speed) ease;
    will-change: color;
}
.listeningAlong-30wH70 { /*Hides the listening along panel*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    height: 0px;
    visibility: hidden;
    padding: 0px;
    transition: height var(--transition-speed) ease, visibility 0.0000000000000001s ease, padding calc(var(--transition-speed) - 0.1s) ease;
    will-change: height, padding;
}
.container-1giJp5 { /*Hides the connected channel panel*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    height: 0px;
    visibility: hidden;
    padding: 0px;
    transition: height var(--transition-speed) ease, visibility 0.0000000000000001s ease, padding calc(var(--transition-speed) - 0.1s) ease;
    will-change: height, padding;
}
.activityPanel-28dQGo { /*Hides the sharing screen panel*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    height: 0px;
    visibility: hidden;
    padding: 0px;
    transition: height var(--transition-speed) ease, visibility 0.0000000000000001s ease, padding calc(var(--transition-speed) - 0.1s) ease;
    will-change: height, padding;
}
.list-2luk8a { /*Moves people connected to a voice channel when hidden*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    padding-left: 5px;
    transition: padding var(--transition-speed) ease;
    will-change: padding;
}
.addButton-3bLyEA { /*Hides the add channel in the channel list*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    color: transparent;
    transition: color var(--transition-speed) ease;
    will-change: color;
}
.listDefault-3ir5aS .avatarContainer-28iYmV { /*Centers the avatars of peole connected to a vc even more*/
    margin-left: 5px;
}
.mentionsBadge-3tC7Mi { /*Mentioned in a channel*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    top: 15px;
    left: 7px;
    transition: left var(--transition-speed) ease-in, top var(--transition-speed) ease-in;
    will-change: top, left;
}
.button-1w5pas { /* Arrow button*/
    margin-left: -3px;
}
.privateChannelsHeaderContainer-3NB1K1, .privateChannelsHeaderContainer-3NB1K1 > .clickable-3rdHwn .icon-22AiRD { /*New Direct Message text*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    color: transparent;
    transition: color var(--transition-speed) ease;
    will-change: color;
}
.searchBar-6Kv8R2 { /*Hides the searchbar on top of DMs*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    width: 45%;
    transition: width var(--transition-speed) ease-in;
    will-change: width;
}
.header-2V-4Sw { /*Server name panel*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    width: 85%;
    padding-left: 14px;
    transition: width var(--transition-speed) ease-in;
    will-change: width;
}
.bd-minimal .privateChannels-1nO12o .layout-2DM8Md { /*Channel container*/
    justify-content: unset;
    padding-left: 0;
}
.bd-minimal .privateChannels-1nO12o .layout-2DM8Md .avatar-3uk_u9 { /*Minimal mode DM avatar hidden*/
    justify-content: unset;
    padding-left: 10%;
}
.bd-minimal .channel-2QD9_O[href="/channels/@me"] { /*Minimal mode friends icon wrapper*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    margin-left: 1px;
    width: 50px;
    min-width: 30.8px;
    max-width: 60%;
}
.bd-minimal .channel-2QD9_O[href="/channels/@me"] .avatar-3uk_u9 { /*Minimal mode friends icon*/
    padding-left: 0;
}
.bd-minimal .channel-2QD9_O[href="/channels/@me"] .avatar-3uk_u9,
.bd-minimal .channel-2QD9_O[href="/library"] .avatar-3uk_u9,
.bd-minimal .channel-2QD9_O[href="/store"] .avatar-3uk_u9 { /*Friends/Library/Nitro buttons minimal mode*/
    justify-content: center;
}
.bd-minimal .channel-2QD9_O[href="/library"],
.bd-minimal .channel-2QD9_O[href="/store"],
.bd-minimal .channel-2QD9_O[href="/library"] .avatar-3uk_u9,
.bd-minimal .channel-2QD9_O[href="/store"] .avatar-3uk_u9 { /*Friends/Library/Nitro buttons minimal mode*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    height: 0px;
    width: 0px;
    transition: height var(--transition-speed) ease, width var(--transition-speed) ease;
    will-change: height, width;
}

/*Shows the server's channel list*/

.sidebar-2K8pFh:hover {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    width: var(--showing-width);
}
.bd-minimal .sidebar-2K8pFh:hover { /*Minimal mode server channels hover*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    width: calc(var(--showing-width) - 2.3%);
}
.sidebar-2K8pFh:hover .mainContent-2h-GEV .overflow-WK9Ogt, .sidebar-2K8pFh:hover .mainContent-2h-GEV .icon-2yIBmh{  /*Shows channel group*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    color: white;
}
.sidebar-2K8pFh:hover .containerDefault-3tr_sE { /*Animates the movement of the channel groups when they show*/
    padding: 4px;
}
.sidebar-2K8pFh:hover .containerDefault--pIXnN .actionIcon-PgcMM2 { /*Shows the invite to channel button when panel is hovered*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    color: white;
}
.sidebar-2K8pFh:hover .listeningAlong-30wH70 { /*Shows the listening along panel*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    padding: 8px;
    height: auto;
    visibility: visible;
}
.sidebar-2K8pFh:hover .activityPanel-28dQGo { /*Shows the sharing screen panel*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    padding: 8px;
    height: auto;
    visibility: visible;
}
.sidebar-2K8pFh:hover .container-1giJp5 { /*Shows the connected channel panel*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    padding: 8px;
    height: auto;
    visibility: visible;
}
.sidebar-2K8pFh:hover .voiceUserSummary-2X_2vp { /*Showing collapsed voice chanels on server*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    background-color: transparent;
    background: transparent;
}
.sidebar-2K8pFh:hover .wrapper-2tAnRe { /*Showing the amount of people in a voice channel*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    visibility: visible;
}
.sidebar-2K8pFh:hover .list-2luk8a { /*Moves the connected users in a voice channel back to default place*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    padding-left: 36px;
}
.sidebar-2K8pFh:hover .addButton-3bLyEA { /*Shows the add server button on the channels list*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    color: white;
}
.sidebar-2K8pFh:hover .mentionsBadge-3tC7Mi { /*Mentioned in a channel when hovering*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    left: initial;
    top: initial;
}
.sidebar-2K8pFh:hover .header-2V-4Sw { /*Showing server name*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    width: 100%;
  }
.sidebar-2K8pFh:hover .content-3YMskv .privateChannelsHeaderContainer-3NB1K1, .sidebar-2K8pFh:hover .privateChannelsHeaderContainer-3NB1K1 > .clickable-3rdHwn .icon-22AiRD { /*Shows DM text*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    color: white;
}
.sidebar-2K8pFh:hover .searchBar-6Kv8R2 { /*Shows searchbar on top of DMs*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    width: 80%;
}
.bd-minimal .sidebar-2K8pFh:hover .searchBar-6Kv8R2 { /*Minimal mode searchbar*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    width: 90%;
    will-change: width;
}
.bd-minimal .sidebar-2K8pFh:hover .channel-2QD9_O[href="/library"],
.bd-minimal .sidebar-2K8pFh:hover .channel-2QD9_O[href="/store"] { /*Friends/Library/Nitro buttons minimal mode*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    height: 42px;
    width: 50px;
    transition: height calc(var(--transition-speed) + 0.25s) ease, width calc(var(--transition-speed) + 0.25s) ease;
    will-change: height, width;
}
.bd-minimal .sidebar-2K8pFh:hover .channel-2QD9_O[href="/library"] .avatar-3uk_u9,
.bd-minimal .sidebar-2K8pFh:hover .channel-2QD9_O[href="/store"] .avatar-3uk_u9 { /*Friends/Library/Nitro buttons minimal mode*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    height: 42px;
    width: 42px;
    transition: width calc(var(--transition-speed) + 0.25s) ease, height calc(var(--transition-speed) + 0.25s) ease;
    will-change: width, height;
}