:root {
    --icon-padding: 35px; /*Changes the padding between the icon and the text | Default 35px*/
}

/*Settings Icons*/
.side-8zPYf6 .item-PXvHYJ { /*Category container*/
    padding-left: var(--icon-padding);
}
.side-8zPYf6 .item-PXvHYJ::before { /*Category container pseudo*/
    content: '';
    position: absolute;
    top: 12%;
    left: 3px;
    width: 24px;
    height: 24px;
    background: currentColor;
    transition: 0.25s ease;
}

.side-8zPYf6 .item-PXvHYJ[aria-controls="My Account-tab"]::before { 
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/myAccount.svg');
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Privacy & Safety-tab"]::before { 
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/privacy.svg');
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Authorized Apps-tab"]::before {
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/authorizedApps.svg');
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Connections-tab"]::before {
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/connections.svg');
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Discord Nitro-tab"]::before {
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/nitro.svg');
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Nitro Server Boost-tab"]::before {
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/serverBoost.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Library Inventory-tab"]::before {
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/gift.svg');
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Billing-tab"]::before {
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/billing.svg');
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Appearance-tab"]::before { 
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/appearance.svg');
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Accessibility-tab"]::before { 
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/accessibility.svg');
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Voice & Video-tab"]::before { 
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/voiceVideo.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Text & Images-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/textImages.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Notifications-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/notifications.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Keybinds-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/keybinds.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Language-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/languages.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Windows-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/windows.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Streamer Mode-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/streaming.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Advanced-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/advanced.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Game Activity-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/gameActivity.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Overlay-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/overlay.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Settings-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/settings.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Emotes-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/emojis.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="customcss-tab"]::before {
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/customCSS.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="plugins-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/plugins.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="themes-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/themes.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="changelog-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/changelog.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Hypesquad Online-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/hypesquad.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="logout-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/logout.svg'); 
}

/*Server settings*/

.side-8zPYf6 .item-PXvHYJ[aria-controls="OVERVIEW-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/appearance.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="ROLES-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/roles.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="EMOJI-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/emojis.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="MODERATION-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/moderation.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="AUDIT_LOG-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/auditlog.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="INTEGRATIONS-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/integrations.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="WIDGET-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/widgets.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="GUILD_TEMPLATES-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/serverTemplate.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="COMMUNITY-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/community.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="GUILD_PREMIUM-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/serverBoost.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="MEMBERS-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/members.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="INSTANT_INVITES-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/invites.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="BANS-tab"]::before {
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/bans.svg'); 
}
.side-8zPYf6 .item-PXvHYJ[aria-controls="DELETE-tab"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/delete.svg'); 
}

/*Right click menu*/
.menu-3sdvDG:not(.submenu-2-ysNh) .scroller-3BxosC .item-1tOPte .label-22pbtT { /*Separates text and icon*/
    padding-left: 8px;
}
.menu-3sdvDG .scroller-3BxosC .item-1tOPte:not([id*="user-context-invite-to-server-"]):not([id*="user-context-roles-"]):not([id*="guild-header-popout-"]):not([id*="message-add-reaction-"])::before { /*Category subcontainer pseudo*/
    content: '';
    position: relative;
    left: 0;
    width: 24px;
    height: 24px;
    filter: brightness(0.95);
    transition: 0.25s ease;
    background: currentColor;
}

.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-user-profile"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/myAccount.svg'); 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-mention"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/mention.svg'); 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-message-user"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/message.svg'); 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-call"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/call.svg'); 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-note"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/note.svg'); 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-invite-to-listen"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/listenAlong.svg'); 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-invite-to-server"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/invites.svg'); 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-add-friend"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/addFriend.svg'); 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-block"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/block.svg'); 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-roles"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/roles.svg'); 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-change-nickname"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/editNickname.svg'); 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-kick"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/remove.svg'); 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-ban"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/bans.svg'); 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-reply"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/reply.svg'); 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-mark-unread"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/markUnread.svg'); 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-copy-link"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/discordMessageLink.svg'); 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-tts"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/tts.svg'); 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="user-context-remove-friend"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/remove.svg'); 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-copy-native-link"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/copyLink.svg'); 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-open-native-link"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/openLink.svg'); 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-add-reaction"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/emojis.svg'); 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-copy"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/copy.svg'); 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-search-google"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/googleSearch.svg'); 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-pin"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/pin.svg'); 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-delete"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/delete.svg'); 
}
.scroller-3BxosC .colorDefault-2K3EoJ[id="message-edit"]::before {    
    -webkit-mask: url('https://rmkx.github.io/svg/menuIcons/edit.svg');
}