/**
* @name         Poison
* @description  Enjoy Discord with a stylish dark theme with vibrant green elements.
* @donate       https://bit.ly/3fnzq1Z
* @source       https://github.com/rmkx/rmkx.github.io/blob/main/Poison/src/poison.css
* @author       rmkx
* @invite       HnGWVQbQBv
* @version      1.0 
*/

@import url('https://rmkx.github.io/src/avatarStyle.css'); /*Avatar's style mini-theme*/
@import url('https://rmkx.github.io/src/hideGuilds.css'); /*Comment line if you don't want servers list to hide | This moves it to the default position*/
@import url('https://rmkx.github.io/Poison/src/hideMembers.css'); /*Comment line if you don't want servers' members to hide*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap'); /*Import fonts*/
@import url('https://rmkx.github.io/Poison/src/poison.css');

:root {
    /*Background settings*/
    --background-image: url('https://i.imgur.com/B5pCrRt.jpg'); /*Background image*/
    --bg-blur: 0px; /*Background blur*/
    --bg-opacity: 0.4; /*Background opacity*/

    /*Server member panel*/
    --members-hiding: 680%; /*Position of the members panel when it hides | Default 680%*/
    --members-showing: 599%; /*Position of the members panel when it shows | Default 599%*/
    --transition-speed: 0.35s; /*Changes the showing speed*/

    /*General settings*/
    --general-radius: 5px; /*Changes the radius of most modals*/
    --main-color: 52, 52, 52; /*Main color of the theme | WARNING: USE RGB VALUES IF YOU CHANGE THE COLOR*/
    --main-accent: 147, 227, 32; /*Theme accent color | WARNING: USE RGB VALUES IF YOU CHANGE THE COLOR*/
    --headers: 210, 210, 210; /*Header color | WARNING: USE RGB VALUES IF YOU CHANGE THE COLOR*/
    --avatar-radius: 5px; /*Avatar's radius*/
    --links-color:  147, 227, 32; /*Changes the color of the links*/
    --settings-width: 60%; /*Width for the settings window*/
    --settings-heigth: 85%; /*Width for the settings window*/
    --embed-border: 0px; /*Border for some of the embeds*/
    --embed-bg: rgba(0,0,0,0.75); /*Embeds background*/
    --selection-bg: rgba(36, 36, 36, 0.39); /*Changes the background of the selected text*/
    --selection-color: rgba(var(--main-accent), 1); /*Changes the color of the selected text*/
    --scrollbar-color: rgba(var(--main-accent), 0.4); /*Changes the color of the scrollbar*/

    /*Font*/
    --font: 'Fjalla One', sans-serif; /*Main font*/
}